body{
    padding: 0px;
    margin: 0px;
}
#Zdiv{
    width: 1440px;
    height: 3044px;
    margin-left: -29px;
    /*border: 1px solid black;*/
}
#z_div{
    width: 1440px;
    height: 2340px;
    background-color: rgb(145,145,145);
    position: absolute;
    top: 0px;
    opacity: 0.5;
    display: none;
}
/*head begin*/
#head_div {
    width: 1439px;
    height: 46px;
    border-bottom: 1px solid gray;
}

#headimg_div {
    width: 154px;
    height: 46px;
    /*border: 1px solid black;*/
    margin-left: 244px;
}

#headimg1 {
    padding-top: 14px;
    cursor: pointer;
    width: 19px;
    height: 18px;
}

#headimg2 {
    padding-left: 33px;
    padding-bottom: 4px;
    cursor: pointer;
    width: 28px;
    height: 10px;
}

#headimg3 {
    padding-left: 33px;
    cursor: pointer;
    width: 25px;
    height: 18px;
}

#headright_div{
    width: 161px;
    height: 46px;
    /*border: 1px solid black;*/
    margin-left: 1017px;
    margin-top: -47px;
}
#guoqi{
    list-style-type: none;
    position: absolute;
    left: -40px;
    top: 2px;
    display: none;
}
#zc_span{
    margin-left: -9px;
    color: gray;
    font-size: 13px;
    cursor: pointer;
    font-family: 微软雅黑;
}
#dl_span{
    color: gray;
    font-size: 13px;
    cursor: pointer;
    font-family: 微软雅黑;
}
#span_div{
    width: 86px;
    height: 16px;
    /*border: 1px solid black;*/
    margin-top: 14px;
}
#headrightimg_div{
    width: 62px;
    /*border: 1px solid black;*/
    height: 98px;
    margin-left: 98px;
    margin-top: -16px;
}
#jiantouimg{
    /* padding-left: 50px;*/
    position: absolute;
    top: 14px;
    left: 1113px;
    cursor: context-menu;
    /*width: 0px;*/
    /*height: 0px;*/
}
/*head end*/

/*logo*/
#logoimg_div{
    width: 1439px;
    height: 88px;
    /*border: 1px solid black;*/
}
#logoimg{
    padding-left: 564px;
    padding-top: 41px;
}
/*title*/
#title_div{
    width: 1439px;
    height: 52px;
    /*border: 1px solid;*/
    margin-top: 36px;
}
#title_div ul{
    list-style-type: none;
    padding-left: 437px;
}
#title_div ul li{
    float: left;
    padding-left: 45px;
    font-family: -webkit-pictograph;
}
#title_div ul li a{
    text-decoration: none;
    color: black;
    font-family: 微软雅黑;
}
#title_div ul li a:hover{
    color:rgb(0,170,232);
}
#underline1{
    position: absolute;
    left: 441px;
    top: 221px;
    display: none;
}
#underline2{
    position: absolute;
    left: 548px;
    top: 221px;
    display: none;
}
#underline3{
    position: absolute;
    left: 649px;
    top: 221px;
    display: none;
}
#underline4{
    position: absolute;
    left: 745px;
    top: 221px;
    display: none;
}
#underline5{
    position: absolute;
    left: 849px;
    top: 221px;
    display: none;
}
#sousuoimg{
    padding-left: 67px;
    padding-top: -10px;
    margin-top: -3px;
    cursor: pointer;

}
#sousuochangeimg{
    position: absolute;
    top: 173px;
    left: 979px;
    display: none;
}

/*list*/
#list_div{
    width: 1439px;
    height: 43px;
    /*border: 1px solid black;*/
    background-color: rgb(245, 245, 245);
    padding-top: 10px;
}
#menu_div{
    width: 1002px;
    height: 44px;
    /*border: 1px solid black;*/
    margin-left: 259px;
}
#menu_div ul{
    list-style-type: none;
    position: relative;
    left: -39px;
    top: -10px;
    /*display: none;*/
}
#menu_div ul li{
    float: left;
    padding-right: 32px;
}
#menu_div ul li a{
    text-decoration: none;
    color: gray;
    font-family: 微软雅黑;
    font-size: 13px;
}
#menu_div ul li a:hover{
    color:rgb(0,170,232);
}
#input_div{
    display: none;
    position: absolute;
    top: 226px;
    left: 276px;
}
#input_div input{
    width: 1001px;
    height: 52px;
    border: none;
    background-color: rgb(129,129,129);
    margin-left: -87px;
}
#input_div span{
    color: white;
    position: absolute;
    top: 21px;
    left: -45px;
    font-size: 13px;
}
/*商品信息*/

#shangpinMsg_div{
    width: 1002px;
    height: 222px;
    /*border: 1px solid black;*/
    margin-left: 219px;
}
#shangpinMsg_div div{
    width: 1002px;
    height: 43px;
    /*border: 1px solid black;*/
    border-bottom: 1px solid rgb(205,205,205);
}
#allGoods_span{
    padding-left: 26px;
    position: absolute;
    top: 291px;
    color: rgb(107,107,107);
    font-family: 微软雅黑;

}
#yjt{
    padding-left: 97px;
    margin-top: 21px;
}
#Brand_span{
    padding-left: 92px;
    position: absolute;
    top: 336px;
    color: rgb(107,107,107);
    font-size: 14px;
    font-family: 微软雅黑;
}
#brand_div li{
    list-style-type: none;
    float: left;
    padding-right: 10px;
    padding-left: 148px;
    margin-top: 16px;
}
#brand_div li a{
    text-decoration: none;
    color:rgb(141,141,141);
    font-size: 13px;
    font-family: 微软雅黑;
}
#brand_div li a:hover{
    color:rgb(0,170,232);
}
#Class_span{
    padding-left: 92px;
    position: absolute;
    top: 381px;
    color: rgb(107,107,107);
    font-size: 14px;
    font-family: 微软雅黑;
}
#class_div li{
    list-style-type: none;
    float: left;
    padding-right: 10px;
    padding-left: 148px;
    margin-top: 17px;
}
#class_div li a{
    text-decoration: none;
    color:rgb(141,141,141);
    font-size: 13px;
    font-family: 微软雅黑;
}
#class_div li a:hover{
    color:rgb(0,170,232);
}
#Appobj_span{
    padding-left: 65px;
    position: absolute;
    top: 426px;
    color: rgb(107,107,107);
    font-size: 14px;
    font-family: 微软雅黑;
}
#appobj_div li{
    list-style-type: none;
    float: left;
    padding-right: 10px;
    padding-left: 148px;
    margin-top: 17px;
}
#appobj_div li a{
    text-decoration: none;
    color:rgb(141,141,141);
    font-size: 13px;
    font-family: 微软雅黑;
}
#appobj_div li a:hover{
    color:rgb(0,170,232);
}
#Size_span{
    left: 282px;
    position: absolute;
    top: 469px;
    color: rgb(107,107,107);
    font-size: 14px;
    font-family: 微软雅黑;
}
#size_div li{
    list-style-type: none;
    float: left;
    margin-left: 148px;
    /*padding-right: 77px;*/
    margin-top: 17px;
}
#size_div li a{
    text-decoration: none;
    color:rgb(141,141,141);
    font-size: 13px;
    font-family: 微软雅黑;
}
#size_div li a:hover{
    color:rgb(0,170,232);
}
#size_div img{
    position: absolute;
    top: 469px;
    left: 1177px;
}
/*商品列表*/
#shangpinList_div{
    width: 1002px;
    height: 2248px;
    /*border: 1px solid black;*/
    margin-left: 219px;
}
#AIRbranch_div{
    width: 1002px;
    height: 88px;
    /*border: 1px solid black;*/
}
.AIR_span{
    padding-left: 27px;
    position: absolute;
    top: 533px;
    font-family: 微软雅黑;
}
#num_span{
    color: rgb(183,183,183);
    padding-left: 139px;
    position: absolute;
    top: 532px;
    font-family: 微软雅黑;
}
#ArrMode_div{
    width: 127px;
    height: 35px;
    border: 1px solid black;
    margin-left: 848px;
    margin-top: 22px;
}
#ArrMode_div span{
    font-size: 13px;
    padding-left: 26px;
    position: absolute;
    top: 531px;
    font-family: 微软雅黑;
}
#ArrMode_div img{
    padding-left: 85px;
    margin-top: 15px;
}

/*display shoes*/
#disShoes_div{
    width: 1002px;
    height: 2164px;
    /*border: 1px solid black;*/
}
#shoes1_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 29px;
    cursor: pointer;
}
#shoes1_div img{
    width: 220px;
    height: 217px;
}
#shoes2_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 275px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes2_div img{
    width: 220px;
    height: 217px;
}
#shoes3_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 521px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes3_div img{
    width: 220px;
    height: 217px;
}
#shoes4_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 767px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes4_div img{
    width: 220px;
    height: 217px;
}
#shoes5_div{
     width: 220px;
     height: 217px;
    border: 1px solid rgb(221,226,228);
     margin-left: 767px;
    margin-top: 51px;
    cursor: pointer;
 }
#shoes5_div img{
    width: 220px;
    height: 217px;
}
#shoes6_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 521px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes6_div img{
    width: 220px;
    height: 217px;
}
#shoes7_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 275px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes7_div img{
    width: 220px;
    height: 217px;
}
#shoes8_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 29px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes8_div img{
    width: 220px;
    height: 217px;
}
#shoes9_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 29px;
    margin-top: 51px;
    cursor: pointer;
}
#shoes9_div img{
    width: 220px;
    height: 217px;
}
#shoes10_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 275px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes10_div img{
    width: 220px;
    height: 217px;
}
#shoes11_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 521px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes11_div img{
    width: 220px;
    height: 217px;
}
#shoes12_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 767px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes12_div img{
    width: 220px;
    height: 217px;
}
#shoes13_div{
     width: 220px;
     height: 217px;
    border: 1px solid rgb(221,226,228);
     margin-left: 767px;
    margin-top: 51px;
    cursor: pointer;
}

#shoes13_div img{
    width: 220px;
    height: 217px;
}
#shoes14_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 521px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes14_div img{
    width: 220px;
    height: 217px;
}
#shoes15_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 275px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes15_div img{
    width: 220px;
    height: 217px;
}
#shoes16_div{
     width: 220px;
     height: 217px;
    border: 1px solid rgb(221,226,228);
     margin-left: 29px;
    margin-top: -303px;
    cursor: pointer;
 }
#shoes16_div img{
    width: 220px;
    height: 217px;
}
#shoes17_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 29px;
    margin-top: 51px;
    cursor: pointer;
}
#shoes17_div img{
    width: 220px;
    height: 217px;
}
#shoes18_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 275px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes18_div img{
    width: 220px;
    height: 217px;
}
#shoes19_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 521px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes19_div img{
    width: 220px;
    height: 217px;
}
#shoes20_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 767px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes20_div img{
    width: 220px;
    height: 217px;
}
#shoes21_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 767px;
    margin-top: 51px;
    cursor: pointer;
}
#shoes21_div img{
    width: 220px;
    height: 217px;
}
#shoes22_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 521px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes22_div img{
    width: 220px;
    height: 217px;
}
#shoes23_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 275px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes23_div img{
    width: 220px;
    height: 217px;
}
#shoes24_div{
    width: 220px;
    height: 217px;
    border: 1px solid rgb(221,226,228);
    margin-left: 29px;
    margin-top: -303px;
    cursor: pointer;
}
#shoes24_div img{
    width: 220px;
    height: 217px;
}

/*shoes des*/
#des_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 29px;
    margin-top: 17px;
}
#des1_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 275px;
    margin-top: 17px;
}
#des2_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 521px;
    margin-top: 17px;
}
#des3_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 768px;
    margin-top: 17px;
}
#des4_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 768px;
    margin-top: 17px;
}
#des5_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 522px;
    margin-top: 17px;
}
#des6_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 275px;
    margin-top: 17px;
}
#des7_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 29px;
    margin-top: 17px;
}
#des8_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 29px;
    margin-top: 17px;
}
#des9_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 275px;
    margin-top: 17px;
}
#des10_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 521px;
    margin-top: 17px;
}
#des11_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 767px;
    margin-top: 17px;
}
#des12_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 767px;
    margin-top: 17px;
}
#des13_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 521px;
    margin-top: 17px;
}
#des14_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 275px;
    margin-top: 17px;
}
#des15_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 29px;
    margin-top: 17px;
}
#des16_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 29px;
    margin-top: 17px;
}
#des17_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 275px;
    margin-top: 17px;
}
#des18_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 521px;
    margin-top: 17px;
}
#des19_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 767px;
    margin-top: 17px;
}
#des20_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 767px;
    margin-top: 17px;
}
#des21_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 521px;
    margin-top: 17px;
}
#des22_div{
     width: 220px;
     height: 65px;
     /*border: 1px solid black;*/
     margin-left: 275px;
     margin-top: 17px;
 }
#des23_div{
    width: 220px;
    height: 65px;
    /*border: 1px solid black;*/
    margin-left: 29px;
    margin-top: 17px;
}
/*页数*/
#yeshu_div{
    width: 220px;
    height: 33px;
    /*border: 1px solid black;*/
    margin-left: 758px;
    margin-top: 49px;
}
#shangyiye{
    width: 91px;
    height: 29px;
    border: 1px solid black;
    margin-left: 37px;
    cursor: pointer;
}
#xiayiye{
    width: 91px;
    height: 29px;
    border: 1px solid black;
    margin-left: 133px;
    margin-top: -31px;
    cursor: pointer;
}
/*end*/
/*end*/
#end_div{
    width: 1440px;
    height: 341px;
    border: 1px solid black;
    /*margin-top: 65px;*/
    background-color: black;
}
#end_ul{
    padding-left: 289px;
    list-style-type: none;
    padding-top: 50px;
}
#end_ul li{
    padding-bottom: 15px;
}
#end_ul li a{
    text-decoration: none;
    color: rgb(71,71,71);
    font-size: 12px;
    font-family: 微软雅黑;
}
#end_ul1{
    list-style-type: none;
    padding-left: 481px;
    padding-top: -16px;
    margin-top: -148px;
}
#end_ul1 li{
    padding-bottom: 15px;
}
#end_ul1 li a{
    text-decoration: none;
    color: rgb(71,71,71);
    font-size: 12px;
    font-family: 微软雅黑;
}
#end_ul2{
    list-style-type: none;
    padding-left: 648px;
    margin-top: -214px;
}
#end_ul2 li{
    padding-bottom: 15px;
}
#end_ul2 li a{
    text-decoration: none;
    color: rgb(71,71,71);
    font-size: 12px;
    font-family: 微软雅黑;
}
#shequ_div{
    width: 254px;
    height: 115px;
    /*border: 1px solid white;*/
    margin-left: 965px;
    margin-top: -219px;
}
#shequ_div span{
    color: white;
    padding-left: 145px;
    position: relative;
    top: 29px;
    font-family: 微软雅黑;
}
#endLogo_div{
    width: 193px;
    height: 43px;
    /*border: 1px solid white;*/
    margin-left: 10px;
    margin-top: 53px;
}
#endLogo_div img{
    padding-right:20px;
    cursor: pointer;
}
#bottom_div{
    width:765px;
    height: 54px;
    /*border: 1px solid white;*/
    margin-left: 398px;
}
#bottom_div ul{
    list-style-type: none;
}
#bottom_li{
    float: left;
    color: rgb(71,71,71);
    font-size: 12px;
    padding-left: 60px;
    margin-top: -30px;
}
#bottom_li1{
    float: left;
    color: rgb(71,71,71);
    font-size: 12px;
    padding-left: 227px;
    margin-top: -32px;
    font-family: 微软雅黑;
}
#bottom_li2{
    float: left;
    color: rgb(71,71,71);
    font-size: 12px;
    padding-left: 501px;
    margin-top: -32px;
    font-family: 微软雅黑;
}