body{
    padding: 0px;
    margin: 0px;
}
#zDiv{
    width: 1440px;
    height:3162px;
    /*border: 1px solid black;*/
}
/*head begin*/
#head_div {
    width: 1439px;
    height: 46px;
    border-bottom: 1px solid gray;
}
#headimg_div {
    width: 154px;
    height: 46px;
    /*border: 1px solid black;*/
    margin-left: 244px;
}
#headimg1 {
    padding-top: 14px;
    cursor: pointer;
    width: 19px;
    height: 18px;
}

#headimg2 {
    padding-left: 33px;
    padding-bottom: 4px;
    cursor: pointer;
    width: 28px;
    height: 10px;
}

#headimg3 {
    padding-left: 33px;
    cursor: pointer;
    width: 25px;
    height: 18px;
}
#headright_div{
    width: 161px;
    height: 46px;
    /*border: 1px solid black;*/
    margin-left: 1017px;
    margin-top: -47px;
}
#span_div{
    width: 86px;
    height: 16px;
    /*border: 1px solid black;*/
    margin-top: 14px;
}
#zc_span{
    margin-left: -9px;
    color: gray;
    font-size: 13px;
    cursor: pointer;
}
#dl_span{
    color: gray;
    font-size: 13px;
    cursor: pointer;
}
#headrightimg_div{
    width: 62px;
    /*border: 1px solid black;*/
    height: 98px;
    margin-left: 98px;
    margin-top: -16px;
}
#jiantouimg{
    padding-left: 50px;
    position: relative;
    top: -20px;
    cursor: context-menu;
}
#guoqi{
    list-style-type: none;
    position: absolute;
    left: -11px;
    top: 2px;
    display: none;
}
/*head end*/

/*logo*/
#logoimg_div{
    width: 1439px;
    height: 88px;
    /*border: 1px solid black;*/
}
#logoimg{
    padding-left: 564px;
    padding-top: 41px;
}

/*title*/
#title_div{
    width: 1439px;
    height: 52px;
    /*border: 1px solid;*/
    margin-top: 36px;
}
#title_div ul{
    list-style-type: none;
    padding-left: 437px;
}
#title_div ul li{
    float: left;
    padding-left: 45px;
    font-family: -webkit-pictograph;
}
#title_div ul li a{
    text-decoration: none;
    color: black;
}
#title_div ul li a:hover{
    color:rgb(0,170,232);
}
#underline1{
    position: absolute;
    left: 470px;
    top: 221px;
    display: none;
}
#underline2{
    position: absolute;
    left: 576px;
    top: 221px;
    display: none;
}
#underline3{
    position: absolute;
    left: 672px;
    top: 221px;
    display: none;
}
#underline4{
    position: absolute;
    left: 771px;
    top: 221px;
    display: none;
}
#underline5{
    position: absolute;
    left: 872px;
    top: 221px;
    display: none;
}
#sousuoimg{
    padding-left: 67px;
    padding-top: -10px;
    margin-top: -3px;
    cursor: pointer;

}
#sousuochangeimg{
    position: absolute;
    top: 173px;
    left: 1000px;
    display: none;
}

/*list*/
#list_div{
    width: 1439px;
    height: 43px;
    /*border: 1px solid black;*/
    background-color: rgb(245, 245, 245);
    padding-top: 10px;
}
#menu_div{
    width: 1002px;
    height: 44px;
    /*border: 1px solid black;*/
    margin-left: 259px;
}
#menu_div ul{
    list-style-type: none;
    position: relative;
    left: -39px;
    /*display: none;*/
}
#menu_div ul li{
    float: left;
    padding-right: 32px;
}
#menu_div ul li a{
    text-decoration: none;
    color: gray;
}
#menu_div ul li a:hover{
    color:rgb(0,170,232);
}
#input_div{
    display: none;
    position: absolute;
    top: 226px;
    left: 276px;
}
#input_div input{
    width: 1001px;
    height: 52px;
    border: none;
    background-color: rgb(129,129,129);
}
#input_div span{
    color: white;
    position: absolute;
    top: 21px;
    left: 39px;
    font-size: 13px;
}
/*good detail*/
#goodsMsg{
    width: 972px;
    height: 480px;
    /*border: 1px solid black;*/
    margin-left: 248px;
    margin-top: 34px;
}
#displayGoods{
    width: 50px;
    height: 312px;
    /*border: 1px solid black;*/
}
/*#displayGoods div{*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*border: 1px solid rgb(223,227,229);*/
    /*background-color: rgb(245,245,245);*/
    /*margin-bottom: 5px;*/
    /*cursor: pointer;*/
/*}*/
#dis_div{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(223,227,229);
    background-color: rgb(245,245,245);
    margin-bottom: 5px;
    cursor: pointer;
}
#dis1_div{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(223,227,229);
    background-color: rgb(245,245,245);
    margin-bottom: 5px;
    cursor: pointer;
}
#dis2_div{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(223,227,229);
    background-color: rgb(245,245,245);
    margin-bottom: 5px;
    cursor: pointer;
}
#dis3_div{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(223,227,229);
    background-color: rgb(245,245,245);
    margin-bottom: 5px;
    cursor: pointer;
}
#dis4_div{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(223,227,229);
    background-color: rgb(245,245,245);
    margin-bottom: 5px;
    cursor: pointer;
}
#dis5_div{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(223,227,229);
    background-color: rgb(245,245,245);
    margin-bottom: 5px;
    cursor: pointer;
}
#displayGoods div img{
    padding-left: 3px;
    padding-top: 12px;
}

#disGoods{
    width: 529px;
    height: 480px;
    border: 1px solid rgb(223,227,229);
    margin-left: 73px;
    margin-top: -315px;
    background-color: rgb(245,245,245);
}
#disGoods img{
    width: 529px;
    height: 480px;
    cursor: pointer;
}

#detailGoods{
    width: 329px;
    height: 322px;
    /*border: 1px solid black;*/
    margin-left: 617px;
    margin-top: -473px;
}
#detailGoods_span{
    font-family: cursive;
    font-size: 18px;
}
#detailGoods1_span{
    font-size: 13px;
    color: rgb(203,202,206);
}
#pingjia_href{
    font-size: 13px;
    color: rgb(84,84,84);
    padding-left: 210px;
}
#detailGoods ul{
    list-style-type: none;
    padding-left: 0px;
}
#detailGoods ul li{
    float: left;
    font-size: 13px;
    color: rgb(84,84,84);
}
#kuanshi_span{
    font-size: 13px;
    padding-left: 234px;
    position: absolute;
}
#xianshi_div{
    width: 103px;
    height: 51px;
    /*border: 1px solid rgb(223,227,229);*/
    position: absolute;
    top: 444px;
    background-color: rgb(245,245,245);

}
#xianshi_shoes1{
    width: 51px;
    height: 51px;
    border: 1px solid rgb(223,227,229);
    cursor: pointer;
}
#xianshi_shoes1 img{
    padding-left: 5px;
    padding-top: 10px;
}
#xianshi_shoes2{
    width: 51px;
    height: 51px;
    border: 1px solid rgb(223,227,229);
    margin-left: 52px;
    margin-top: -53px;
    cursor: pointer;
}
#xianshi_shoes2 img{
    padding-left: 5px;
    padding-top: 10px;
}
#size_href{
    font-size: 13px;
    color: rgb(84,84,84);
    padding-left: -14px;
    margin-left: -123px;
    position: absolute;
    top: 513px;
}
#size_div{
    width: 89px;
    height: 34px;
    border: 1px solid black;
    position: absolute;
    top: 541px;
    border-radius: 4px;
    background-color: rgb(205,205,205);
}
#size_div span{
    color: rgb(115,114,113);
    font-size: 14px;
    padding-left: 24px;
    position: absolute;
    top: 8px;
}
#size_div img{
    padding-left: 56px;
    padding-top: 13px;
}
#amount_div{
    width: 89px;
    height: 34px;
    border: 1px solid black;
    position: absolute;
    top: 541px;
    border-radius: 4px;
    background-color: rgb(205,205,205);
    left: 960px;
}
#amount_div span{
    color: rgb(115,114,113);
    font-size: 14px;
    padding-left: 24px;
    position: absolute;
    top: 8px;
}
#amount_div img{
    padding-left: 56px;
    padding-top: 13px;
}
#joinShoppingCar{
    width: 139px;
    height: 34px;
    border: 1px solid black;
    position: absolute;
    left: 1053px;
    top: 541px;
    border-radius: 4px;
    background-color: rgb(250,84,0);
    cursor: pointer;
}
#joinShoppingCar span{
    font-size: 14px;
    color: white;
    padding-left: 32px;
    position: absolute;
    top: 9px;
}
#detailGoods2_span{
    font-size: 14px;
    position: absolute;
    top: 591px;
    left: 1166px;
    color: rgb(84,84,84);
    cursor: pointer;
}
#detailGoods3_span{
     font-size: 12px;
     color: rgb(84,84,84);
     position: absolute;
     top: 624px;
     left: 872px;
 }
#detail_href{
    font-size: 13px;
    color: rgb(143,142,141);
    position: absolute;
    top: 624px;
    left: 1124px;
}
/*maybe you like */
#like_div{
    width: 1002px;
    height: 543px;
    /*border: 1px solid black;*/
    margin-left: 232px;
    margin-top: 71px;
    border-top: 1px solid rgb(205,205,205);
    border-bottom: 1px solid rgb(205,205,205);
}
#likeText_div{
    width: 225px;
    height: 36px;
    /*border: 1px solid black;*/
    margin-left: 390px;
    margin-top: 75px;
}
#likeText_div span{
    font-size: 37px;
}
#type{
    width: 1002px;
    height: 302px;
    /*border: 1px solid black;*/
    margin-top: 62px;
}
#qiuxie1_div{
    width: 218px;
    height: 216px;
    /*border: 1px solid black;*/
    margin-left: 21px;
    cursor: pointer;
}
#qiuxie1_div img{
    width: 218px;
    height: 216px;
}
#qiuxie2_div{
    width: 218px;
    height: 216px;
    /*border: 1px solid black;*/
    margin-left: 261px;
    margin-top: -218px;
    cursor: pointer;
}
#qiuxie2_div img{
    width: 218px;
    height: 216px;
}
#qiuxie3_div{
    width: 218px;
    height: 216px;
    /*border: 1px solid black;*/
    margin-left: 501px;
    margin-top: -218px;
    cursor: pointer;
}
#qiuxie3_div img{
    width: 218px;
    height: 216px;
}
#qiuxie4_div{
    width: 218px;
    height: 216px;
    /*border: 1px solid black;*/
    margin-left: 741px;
    margin-top: -218px;
    cursor: pointer;
}
#qiuxie4_div img{
    width: 218px;
    height: 216px;
}
#color1_div{
    width: 218px;
    height: 64px;
    /*border: 1px solid black;*/
    margin-left: 21px;
    margin-top: 16px;
}
#color2_div{
    width: 218px;
    height: 64px;
    /*border: 1px solid black;*/
    margin-left: 261px;
    margin-top: -66px;
}
#color3_div{
    width: 218px;
    height: 64px;
    /*border: 1px solid black;*/
    margin-left: 501px;
    margin-top: -66px;
}
#color4_div{
    width: 218px;
    height: 64px;
    /*border: 1px solid black;*/
    margin-left: 741px;
    margin-top: -66px;
}
.miaoshu_span{
    font-size: 15px;
    position: absolute;
    top: 1286px;
    left: 256px;
}
.miaoshu1_span{
    font-size: 12px;
    color: rgb(78,77,77);
    position: absolute;
    top: 1305px;
    left: 257px;
}
.miaoshu2_span{
    font-size: 15px;
    position: absolute;
    top: 1286px;
    left: 496px;
}
.miaoshu3_span{
    font-size: 12px;
    color: rgb(78,77,77);
    position: absolute;
    top: 1305px;
    left: 496px;
}
.price_span{
    font-size: 12px;
    color: rgb(78,77,77);
    position: absolute;
    top: 1323px;
    left: 258px;
}
.price1_span{
    font-size: 12px;
    color: rgb(78,77,77);
    position: absolute;
    top: 1323px;
    left: 496px;
}
.miaoshu4_span{
    font-size: 15px;
    position: absolute;
    top: 1286px;
    left: 736px;
}
.miaoshu5_span{
    font-size: 12px;
    color: rgb(78,77,77);
    position: absolute;
    top: 1305px;
    left: 736px;
}
.price2_span{
    font-size: 12px;
    color: rgb(78,77,77);
    position: absolute;
    top: 1323px;
    left: 736px;
}
.miaoshu6_span{
    font-size: 15px;
    position: absolute;
    top: 1286px;
    left: 976px;
}
.miaoshu7_span{
    font-size: 12px;
    color: rgb(78,77,77);
    position: absolute;
    top: 1305px;
    left: 976px;
}
.price3_span{
    font-size: 12px;
    color: rgb(78,77,77);
    position: absolute;
    top: 1323px;
    left: 976px;
}
#xijie_div{
    width: 1002px;
    height: 555px;
    /*border: 1px solid black;*/
    margin-left: 232px;
    /*border-top: 1px solid rgb(205,205,205);*/
    border-bottom: 1px solid rgb(205,205,205);
}
#QiuXie_div{
    width: 404px;
    height: 402px;
    /*border: 1px solid black;*/
    margin-left: 45px;
    margin-top: 74px;
    cursor: pointer;
}
#QiuXie_div img{
    width: 404px;
    height: 402px;
}
#Text_div{
    width: 491px;
    height: 364px;
    /*border: 1px solid black;*/
    margin-left: 489px;
    margin-top: -404px;
}
#word{
    width: 339px;
    height: 36px;
    /*border: 1px solid black;*/
}
#worddes_div{
    width: 487px;
    height: 67px;
    /*border: 1px solid black;*/
    margin-top: 40px;
}
#worddes_div span{
    font-size: 13px;
    color: rgb(176,176,176);
}
#qitades_div{
    width: 487px;
    height: 211px;
    /*border: 1px solid black;*/
    margin-top: 5px;
}
#word span{
    font-size: 39px;
}
#pinglun_div{
    width: 1002px;
    height: 912px;
    /*border: 1px solid black;*/
    margin-left: 232px;
}
#addPingLun_div{
    width: 204px;
    height: 153px;
    /*border: 1px solid black;*/
    margin-left: 400px;
    margin-top: 110px;
}
#addPingLun_div img{
    padding-left: 18px;
}
#addpl_div{
    width: 132px;
    height: 40px;
    /*border: 1px solid black;*/
    margin-left: 30px;
    margin-top: 46px;
    border-radius: 6px;
    background-color: rgb(250,84,0);
}
#addpl_div span{
    color: white;
    padding-left: 33px;
    position: absolute;
    top: 2253px;
    cursor: pointer;
}
#shushidu_div{
    width: 729px;
    height: 47px;
    /*border: 1px solid black;*/
    margin-left: 141px;
    margin-top: 54px;
}
#ShuShiDu_span{
    position: relative;
    top: 13px;
}
#shushiduImg{
    position: relative;
    top: 15px;
}
#bushushi_span{
    font-size: 13px;
    color: rgb(187,183,183);
    position: relative;
    left: -255px;
    top: -7px;
}
#shushi_span{
    font-size: 13px;
    color: rgb(187,183,183);
    position: relative;
    left: -91px;
    top: -7px;
}
#TieHeDu_span{
    position: relative;
    top: 10px;
}
#tieheduImg{
    position: relative;
    top: 12px;
}
#zhai_span{
    font-size: 13px;
    color: rgb(187,183,183);
    position: relative;
    left: 470px;
    top: -27px;
}
#kuan_span{
    font-size: 13px;
    color: rgb(187,183,183);
    position: relative;
    left: 669px;
    top: -27px;
}
#disPingLun_div{
    width: 608px;
    height: 253px;
    /*border: 1px solid black;*/
    margin-left: 140px;
    margin-top: 70px;
}
#pinglunzhe_span{
    position: relative;
    top: 10px;
    font-size: 18px;
}
#pinglunId{
    position: relative;
    top: 15px;
    color: rgb(141,141,141);
    font-size: 14px;
}
#plMsg1{
    position: relative;
    top: 31px;
    font-size: 14px;
    color: rgb(141,141,141);
}
#plMsg2{
    position: relative;
    top: 48px;
    font-size: 14px;
    color: rgb(141,141,141);
}
#plneirong{
    position: relative;
    top: 77px;
    font-size: 14px;
    color: rgb(141,141,141);
}
#dianjipinglun_div{
    width: 295px;
    height: 35px;
    /*border: 1px solid black;*/
    margin-top: 40px;
    margin-left: 141px;
}
#pl_div{
    width: 59px;
    height: 29px;
    /*border: 1px solid black;*/
    margin-left: 1px;
    margin-top: 2px;
    border-radius: 5px;
    background-color: rgb(250,84,0);
    cursor: pointer;
}
#pl_div span{
    color: white;
    padding-left: 12px;
    position: relative;
    top: 5px;
}
#ding_div{
    width: 68px;
    height: 30px;
    /*border: 1px solid black;*/
    border-radius: 6px;
    position: relative;
    left: 98px;
    top: -31px;
    background-color: rgb(221,221,221);
    cursor: pointer;
}
#dingImg{
    position: relative;
    left: 15px;
    top: 6px;
}
#dingAmount{
    position: relative;
    left: 11px;
    top: 5px;
    color: rgb(172,172,172);
}
#cai_div{
    width: 68px;
    height: 30px;
    /*border: 1px solid black;*/
    border-radius: 6px;
    position: relative;
    left: 182px;
    top: -61px;
    background-color: rgb(221,221,221);
    cursor: pointer;
}
#caiImg{
    position: relative;
    left: 15px;
    top: 6px;
}
#caiAmount{
    position: relative;
    left: 11px;
    top: 5px;
    color: rgb(172,172,172);
}
#tuijian_span{
    color: rgb(202,201,201);
    font-size: 17px;
    padding-left: 10px;
    position: absolute;
    top: 2209px;
}
#qi_div{
    width: 34px;
    height: 28px;
    /*border: 1px solid black;*/
    position: relative;
    top: -90px;
    left: 259px;
    background-color: rgb(221,221,221);
}
#qiImg{
    position: relative;
    left: 13px;
    top: 4px;
}
/*end*/
#end_div{
    width: 1440px;
    height: 322px;
    border: 1px solid black;
    /*margin-top: -126px;*/
    background-color: black;
}
#end_ul{
    padding-left: 289px;
    list-style-type: none;
    padding-top: 39px;
}
#end_ul li{
    padding-bottom: 15px;
}
#end_ul li a{
    text-decoration: none;
    color: rgb(71,71,71);
    font-size: 12px;
}
#end_ul1{
    list-style-type: none;
    padding-left: 481px;
    padding-top: -16px;
    margin-top: -148px;
}
#end_ul1 li{
    padding-bottom: 15px;
}
#end_ul1 li a{
    text-decoration: none;
    color: rgb(71,71,71);
    font-size: 12px;
}
#end_ul2{
    list-style-type: none;
    padding-left: 648px;
    margin-top: -214px;
}
#end_ul2 li{
    padding-bottom: 15px;
}
#end_ul2 li a{
    text-decoration: none;
    color: rgb(71,71,71);
    font-size: 12px;
}
#shequ_div{
    width: 254px;
    height: 115px;
    /*border: 1px solid white;*/
    margin-left: 965px;
    margin-top: -219px;
}
#shequ_div span{
    color: white;
    padding-left: 145px;
    position: relative;
    top: 29px;
}
#endLogo_div{
    width: 193px;
    height: 43px;
    /*border: 1px solid white;*/
    margin-left: 10px;
    margin-top: 53px;
}
#endLogo_div img{
    padding-right:20px;
    cursor: pointer;
}
#bottom_div{
    width:765px;
    height: 54px;
    /*border: 1px solid white;*/
    margin-left: 398px;
}
#bottom_div ul{
    list-style-type: none;
}
#bottom_li{
    float: left;
    color: rgb(71,71,71);
    font-size: 12px;
    padding-left: 60px;
    margin-top: -30px;
}
#bottom_li1{
    float: left;
    color: rgb(71,71,71);
    font-size: 12px;
    padding-left: 227px;
    margin-top: -30px;
}
#bottom_li2{
    float: left;
    color: rgb(71,71,71);
    font-size: 12px;
    padding-left: 501px;
    margin-top: -30px;
}